<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Code</th>
                <th>Ticket</th>
                <th>Assigned</th>
                <th>MVP</th>
                <th>Estimation</th>
                <th>Status</th>
                <th>Effort</th>
                <th class="mw">parents</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let ticket of ticketList; let i = index" >
                <tr [class.selected]="ticket.selected">
                    <td><a [href]="ticket.link" target="_blank">{{ticket.code}}</a></td>
                    <td>{{ticket.title}}</td>
                    <td><ng-container *ngIf="ticket.assigned">
                        {{ticket.assigned.name}}
                    </ng-container></td>
                    <td><ng-container *ngIf="ticket.mvp">
                        {{ticket.mvp.id}}. {{ticket.mvp.name}}
                    </ng-container></td>
                    <td>{{ticket.estimation}}</td>
                    <td>{{ticket.status}}</td>
                    <td>{{ticket.effort}}</td>
                    <td class="mw">{{ticket.parents.join(', ')}}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>