@import '../../../scss/variables';

:host {
    background-color: #EEEEF1;
    height: calc(100vh - 52px);
    overflow: auto;
}

.table-container {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 30px;
}

table {
    margin: 25px auto;
    font-size: 0.8em;
    font-family: sans-serif;
    min-width: 400px;
    border-collapse:separate;
    border-spacing: 0 4px;

    td, th {
        background-color: white;
        padding: 8px 12px;
        &:first-child {
            border-radius: 4px 0 0 4px;
        }
        &:last-child {
            border-radius: 0 4px 4px 0;
        }
    }
    
    th {
        background-color: #33325c;
        color: #ffffff;
        text-align: left;
        text-transform: uppercase;
    }
    tbody tr {
        border-bottom: 1px solid #dddddd;
    }
    
    tbody tr:last-of-type {
        border-bottom: 2px solid #33325c;
    }

    tbody tr.selected td {
        background-color: #d1dbff;
    }
}

.mw {
    max-width: 200px;
}

a, a:visited {
    text-decoration: none;
    color: $main-accent;
    font-weight: bold;
}