@import '../../../scss/variables';

.header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
    height: 52px;
    background-color: $main_accent;
    color: white;
    > div {
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        padding: 0 16px;
        align-items: center;
        display: flex;
        flex-shrink: 1;
    }
    &-title {
        font-size: 16px;
        cursor: pointer;
        &:hover {
            color: #cc8fe9;
        }
    }
    &-progress {
        flex-basis: 50%;
        flex-grow: 2;
        display: block !important;
    }
    &-leader {
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #CCC;
        padding: 0 30px;
        span {
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            color: #333;
        }
    }
}

h1 {
    font-size: 16px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

app-menu {
    position: absolute;
    width: 100%;
    z-index: 900;
}

app-dropdown {
    width: 210px;
    display: block;
}