<div class="header">
    <div class="header-title" (click)="onProjectClick()"><h1>{{title}}</h1></div>
    <div class="header-sprint" *ngIf="mvps.length > 0">
        <app-dropdown
            [options]="mvps"
            [label]="'MVP'"
            [defaultOption]="'None'"
            (onSelect)="onSelectMVP($event)">
        </app-dropdown>
    </div>
    <div class="header-progress" *ngIf="showProgressBar">
        <app-progress-bar [statuses]="progressStatus" (onStatusSelected)="statusSelect($event)"></app-progress-bar>
    </div>
    <div class="header-leader" (click)="onProifleClick()">
        <span class="material-symbols-outlined" *ngIf="hasUser"> verified </span>
        <span class="material-symbols-outlined wrong" *ngIf="!hasUser"> dangerous </span>
    </div>
</div>

<app-menu (onZoomClick)="onZoomClick($event)"></app-menu>