.graph {
    height: calc(100vh - 52px);
    overflow: auto;
    background-color: #EEEEF1;
    &-viewer {
        transform-origin: 10% top;
        transform: scale(0.9);
        position: relative;
        margin: auto;
    }
}