@import '../../../scss/variables';

.container {
    display: flex;
    gap: 20px;
}

.selector {
    display: flex;
    align-items: center;
}

.bar {
    color: white;
    font-size: 9px;
    font-weight: 700;
    padding: 10px 0;
    flex-grow: 1;
}

.partial {
    display: flex;
    margin-top: 6px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid rgba(255,255,255,0.8);
    div {
        padding: 1px 12px;
        overflow: hidden;
        white-space: nowrap;
        background-color: #333;
    }
}

.info {
    display: flex;
    color: white;
    gap: 20px;
}

.convention {
    display: flex;
    gap: 40px;
    justify-content: center;
    color: white;
    flex-grow: 2;
    &-item {
        display: flex;
        align-items: center;
    }
    .dot {
        width: 10px;
        height: 10px;
        display: inline-block;
        margin-right: 5px;
        border-radius: 50%;
        border: 1px solid white;
    }
}

app-dropdown {
    width: 90px;
    display: block;
}

.partial, .convention {
    .blocked {
        background-color: $blocked;
    }
    .new {
        background-color: $new;
    }
    .progress {
        background-color: $progress;
    }
    .done {
        background-color: $done;
    }
    .undefined {
        background-color: $undefined;
    }
    .review {
        background-color: $review;
    }
}