<div class="container">
    <div class="selector">
        <app-dropdown [options]="selectByOpts" (onSelect)="selectType($event)" ></app-dropdown>
    </div>
    <div class="bar">
        <div class="info">
            <span>Completed: 
                <span *ngIf="completed">{{completed[selectBy]}} / {{total[selectBy]}} : {{completed[selectBy] * 100 / total[selectBy]| number: '1.0-0'}}</span>%
            </span>
            <div class="convention">
                <div 
                    class="convention-item" 
                    *ngFor="let status of statuses" 
                    (click)="onStatusSelect(status.name)"
                    [class.selected]="selectedStatus === status.name">
                    <span class="dot" [class]="status.name | lowercase"></span>
                    {{status.name | titlecase}}
                </div>
            </div>
        </div>
        <div class="partial">
            <div *ngFor="let status of statuses" [class]="status.name | lowercase" [style.width]="status[selectBy] * 100 / total[selectBy] + '%'">
                {{status[selectBy]}} : {{status[selectBy] * 100 / total[selectBy]| number: '1.1-1'}} %
            </div>
        </div>
    </div>
</div>

