<div class="modal-window">
    <ng-container *ngIf="data">
        <div class="modal-window-header">
            <h3><span>{{data.code}}</span> {{data.title}}</h3>
            <span class="material-symbols-outlined close-modal" (click)="closeModal()">
                close
            </span>
        </div>
        <div class="modal-window-body">
            <div class="description" [innerHTML]="data.description">
            </div>
        </div>
        <div class="modal-window-footer">
    
        </div>
    </ng-container>
</div>