<div class="menu">
    <ul>
        <li>
            <span class="material-symbols-outlined" [routerLink]="'dependency'">
                account_tree
            </span>
        </li>
        <li>
            <span class="material-symbols-outlined" [routerLink]="'table'">
                table_chart
            </span>
        </li>
        <li>
            <span class="material-symbols-outlined" (click)="onUploadFile()">
                upload_file
            </span>
        </li>
    </ul>
    <ul>
        <li>
            <span class="material-symbols-outlined" (click)="onZoom(-1)">
                zoom_out
            </span>
        </li>
        <li>
            <span class="material-symbols-outlined" (click)="onZoom(1)">
                zoom_in
            </span>
        </li>
    </ul>
</div>